
body{
    padding: 0;
    margin: 0;
    text-align: center;
}  
.container{
    background: linear-gradient(45deg, grey, black, black, grey)no-repeat;
    background-size: contain;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 100vh;
}
header{
    font-family: cursive;
    color: white;
    font-size: 38px;
    text-shadow:0 0 15px rgb(255, 208, 0);
    
}
#instruction{
    font-family: cursive;
    color: white;
    font-size: 20px;
    text-shadow:0 0 35px purple;
}
form{
    padding-top: 50px;
}

/* Need to add image  */

#number,#btn{
    width: 35vw;
    height: 5vh;
    border-radius: 15px;
    justify-content: center;    
}
#btn{
    background-color: purple;
    
}
#btn:hover{
    background: rgba(126, 1, 126, 0.507);
    color: white;
}
#output{
    background-color: purple;
    color: white;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10vh;
    box-shadow: 0 0 15px rgb(255, 208, 0);
    font-size: 20px;
    margin: 20px;
}
#output:hover{
    background-color: rgba(126, 1, 126, 0.507);
    color: black;
}

